{% extends "loginT.html" %}
{% block title %} forgotpass {% endblock %} 

{% block content %}

  <div class="container-login100" style="background-image: url('/static/assets/loginS/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form role="form" method="post" action="">

        <span class="login100-form-logo">
          <i class="zmdi zmdi-landscape"></i>
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
          The Opulent Group
        </span>

        <span style="color:white;">
          {% if errM %}
              {{ errM | safe }}
              <br />
              <br />
            {% else %}
              Enter Your New Password
              <br />
              <br />
            {% endif %}
        </span>

        {% if msg %}
            <div class="wrap-input100 validate-input" data-validate = "Enter username">
              <input disabled class="input100" type="text"  name="email" value={{ msg | safe }}>
              <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>
  
        {% else %}

        <div class="wrap-input100 validate-input" data-validate = "Enter Password">
          <input class="input100" type="password" name="password" placeholder="Password">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Re-Enter Password">
            <input class="input100" type="password" name="verify" placeholder="Password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="container-login100-form-btn">
          <button type="submit" name="submit" class="login100-form-btn">
            Submit
          </button>
        </div>

        {% endif %}


        <div class="clearfix"></div>
      </form>
    </div>
  </div>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
