{% extends "base-site.html" %}

{% block title %} UI Typography {% endblock %} 

{% block content %}

    <div class="card">
        <div class="card-body">
          <div id="typography">
            <div class="card-title">
                <div class="text-center">
                    <img src="/static/assets/loginS/images/logo.png"/>
                    </br>
                    </br>   
                </div>
            </div>
            <div class="row">
                <div>
                    <h2 style="text-align: center;">Disclosure</h2>
                    <h4 style="text-align: center;">
                    Investors should be aware that hedge funds often engage in leverage, short-selling, arbitrage, hedging, 
                    derivatives, and other speculative investment practices that may increase investment loss. 
                    Hedge funds can be highly illiquid, are not required to provide periodic pricing or valuation information to investors, 
                    and often charge high fees that can erode performance. Additionally, they may involve complex tax structures and delays 
                    in distributing tax information. While hedge funds may appear similar to mutual funds, they are not necessarily 
                    subject to the same regulatory requirements as mutual funds. 
                    </h4>
                </div>
                <div>
                    <h2 style="text-align: center;">Agreement</h2>
                    <h4 style="text-align: center;">
                    By investing into The Opulent Group, you are hereby accomodating to all risks and factors taken into the methods used for trading in an effort increase client capital. 
                    With short term capital gains tax being 15-35%, client will have to accomodate all profits to a 15% short term capital gains tax. Comission for The Opulent Group's services will be 10%. 
                    This will put all profits subjected to 25% for The Opulent Group and 75% for customers. Customers will only be able to withdraw funds in a monthly time period.  
                    </h4>
                </div>
            </div>
          </div>
            <div>
                </br>
                </br>
                <p>&copy; 2020 The Opulent Group.</p>
            </div>
        </div>
    </div>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
