{% extends "base-site.html" %}

{% block title %} Login {% endblock %} 

{% block content %}

  <div class="row">
    <div class="col-md-6">

        <div class="pdfV">
            <iframe src="http://docs.google.com/viewer?url=https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf&embedded=true" width="600" height="780" style="border: none;"></iframe>
        </div>
        
    </div>
  </div>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
