<!DOCTYPE html>
<html lang="en">
<head>
	<title>Opulent</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" href="/static/assets/css/page403.css"/>
<!--===============================================================================================-->
</head>
<body>
	<div class='hover'>
        <div class='background'>
          <h1 >Who do you know here?</h1>
          <div class='door'>403</div>
          <div class='rug'></div>
        </div>
        <div class='foreground'>
          <div class='bouncer'>
            <div class='head'>
              <div class='neck'></div>
              <div class='eye left'></div>
              <div class='eye right'></div>
              <div class='ear'></div>
            </div>
            <div class='body'></div>
            <div class='arm'></div>
          </div>
          <div class='poles'>
            <div class='pole left'></div>
            <div class='pole right'></div>
            <div class='rope'></div>
          </div>
        </div>
    </div>
</body>
</html>