{% extends "base-site.html" %}

{% block title %} Profile Page {% endblock %} 

{% block content %}

<div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
              {% if profilemsg %}
                {% if 'Error' in profilemsg %}
                  <div style="color: red;">{{ profilemsg | safe }}</div>
                  <br/>
                {% else %}
                <div style="color: green;">{{ profilemsg | safe }}</div>
                <br/>
                {% endif %}
              {% else %}
              {% endif %}
              <form role="form" method="post" action="">
                {{ formprofile.hidden_tag() }} 
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">UserID (disabled)</label>
                      <input type="text" class="form-control" disabled value="{{ current_user.id }}">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">Username</label>
                      {{ formprofile.username(class="form-control", value=current_user.username) }}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email address</label>
                      {{ formprofile.email(class="form-control", value=current_user.email) }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Fist Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Last Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <!--
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Adress</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">City</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Country</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Postal Code</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>About Me</label>
                      <div class="form-group">
                        <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                        <textarea class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                -->
                <button type="submit" name="updateProfile" class="btn btn-primary pull-right">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="/static/assets/img/faces/marc.jpg" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category">
                {{ current_user.username }}
              </h6>
              <h4 class="card-title">
                {{ current_user.email }}
              </h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Change Password</h4>
            </div>
            <div class="card-body">
              {% if passmsg %}
                {% if 'error' in passmsg %}
                  <div style="color: red;">{{ passmsg | safe }}</div>
                  <br/>
                {% else %}
                <div style="color: green;">{{ passmsg | safe }}</div>
                <br/>
                {% endif %}
              {% else %}
              {% endif %}
              <form role="form" method="post" action="">
                {{ formpassword.hidden_tag() }} 
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="bmd-label-floating">Current Password</label>
                      {{ formpassword.passwordOld(class="form-control") }}
                    </div>
                  </div>
                </div>
                <h4 id="passverif" style="color: green; font-size: 30px;">-- -- -- --</h4>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="bmd-label-floating">New Password</label>
                      {{ formpassword.passwordNew(class="form-control", onkeyup='check();', id="npass") }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="bmd-label-floating">Verify New Password</label>
                      {{ formpassword.passwordVerify(class="form-control",, onkeyup='check();', id="npassv") }}
                    </div>
                  </div>
                </div>

                <button type="submit" name="changePass" class="btn btn-primary pull-right">Confirm</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE Test -->
{% block javascripts %}

  <script>
    var check = function() {
      if (document.getElementById('npass').value == document.getElementById('npassv').value) {
        document.getElementById('passverif').style.color = 'green';
      } else {
        document.getElementById('passverif').style.color = 'red';
      }
    }

  </script>

{% endblock javascripts %}
