{% extends "base-site.html" %}

{% block title %} Profile Page {% endblock %} 

{% block stylesheets %}

<style>
    * {
    font-family: 'Roboto', sans-serif;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
  }
  .button-save {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .button-remove {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid tomato;
    color: tomato;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .button-save:hover {
    color: white;
    background: #1ecd97;
  }
  .button-remove:hover {
    color: white;
    background: tomato;
  }
  .button-save:active {
    letter-spacing: 2px;
  }
  .button-remove:active {
    letter-spacing: 2px;
  }
  .button-save:after {
    content: "Save";
  }
  .button-remove:after {
    content: "Remove";
  }
  .onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
  }
  .onclic:after {
    content: "";
  }
  .onclic:hover {
    color: #1ecd97;
    background: white;
  }
  .validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
    border: 2px solid #1ecd97;
  }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  .invalidate {
    font-size: 13px;
    color: white;
    background: tomato;
    border: 2px solid tomato;
  }
  .invalidate:after {
    font-family: 'FontAwesome';
    content: "\f00d";
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
</style>

{% endblock stylesheets %}


{% block content %}

<div class="row">

  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0"> Users Table</h4>
        <p class="card-category"> Please Submit after each row change!</p>
      </div>
      <div class="card-body">
        <div id="tableT" class="table-editable table-responsive">
          <span class="table-add-new float-right mb-3 mr-2"><a href="#!" class="btn btn-success btn-rounded" role="button"><i>New User</i></a></span>
          <table class="table table-hover">
            <thead>
              <th>id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Name</th>
              <th>Role</th>
              <th>Save</th>
              <th>Remove</th>
            </thead>
            <tbody>

              {% for users in test %}

                <tr>
                <td class="pt-3-half" style="color: white;" contenteditable="false"><b>{{users.id}}</b></td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">{{users.username}}</td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">{{users.email}}</td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">N/A</td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">{{users.role}}</td>
                <td>
                    <span class="button-save-test">
                        <button class="button-save"></button>
                    </span>
                </td>
                <td>
                    <span>
                    <button class="button-remove"></button>
                    </span>
                </td>
                </tr>

              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock content %}

<!-- Specific Page JS goes HERE Test -->
{% block javascripts %}

  <script>
 
    const $tableID = $('#tableT');
    const $BTN = $('#export-btn');
    const $EXPORT = $('#export');
    const dataSend = {}
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $('.table-add-new').on('click', 'i', () => {

        var newTr = `
            <tr class="hide">
            <td class="pt-3-half" style="color: white;" contenteditable="false"><b>0</b></td>
            <td class="pt-3-half" style="color: white;" contenteditable="true">Required*</td>
            <td class="pt-3-half" style="color: white;" contenteditable="true">Required*</td>
            <td class="pt-3-half" style="color: white;" contenteditable="true">Optional</td>
            <td class="pt-3-half" style="color: white;" contenteditable="true">regular</td>
            <td>
            <span>
                <button class="button-save" id="button-remove"></button>
            </span>
            </td>
            <td>
            <span>
                <button class="button-remove" id="button-remove"></button>
            </span>
            </td>
            </tr>`;

        $('tbody').append(newTr);

    });

    $tableID.on('click', '.button-save', function () {
        
        $(this).addClass( "onclic");
        var button = $(this);
        
        //invalidate($(this));
        //validate($(this))
    
        function invalidate($obj) {
        setTimeout(function() {
            ( $obj ).removeClass( "onclic" );
            ( $obj ).addClass( "invalidate", 1000);
            callback($obj);
        }, 1000);  
        }
    
        function validate($obj) {
        setTimeout(function() {
            ( $obj ).removeClass( "onclic" );
            ( $obj ).addClass( "validate", 1000);
            callback($obj);
        }, 1000);  
        }
    
        function callback($obj) {
        setTimeout(function() {
            ( $obj ).removeClass( "validate" );
            ( $obj ).removeClass( "invalidate" );
        }, 1500 );
        }

        const $rows = $tableID.find('tr:not(:hidden)');
        const headers = [];
        var $row = $(this).closest("tr"),       // Finds the closest row <tr> 
        $tds = $row.find("td");             // Finds all children <td> elements
        const data = {};

        //First part is to get the headers, shouldnt change but incase they ever do
        $($rows.shift()).find('th:not(:empty)').each(function () {
            if($(this).text().toLowerCase() != "remove" && $(this).text().toLowerCase() != "save" ){
                //console.log(headers)
                headers.push($(this).text().toLowerCase());
            }
        });
        //Now we have the table headers!
        $.each($tds, function(i) {         // Visits every single <td> element
            if ($(this).hasClass("pt-3-half")){  // Check to make sure its the text fields
                //console.log($(this).text());   // Prints out the text within the <td>
                data[headers[i]] = $(this).text()
            }
        });

        //console.log(data)
        $.ajax({
            url: '/profiles/save',
            type: 'put',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(){
                console.log( 'Worked' );
                validate(button);
                md.showNotification('top','center','success','Saved User '+ data['username'] + ' Successfully, you can refresh to view changes!')
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
                invalidate(button);
                md.showNotification('top','center','danger','Error! Could Not Save')
            }
        });
        
    });

    $tableID.on('click', '.button-remove', function () {
        
        $(this).addClass( "onclic");

        var button = $(this);
        var rm = true;
        var nrm = false;
     
        //invalidate($(this));
        //validate($(this))
    
        function invalidate($obj,$b) {
        setTimeout(function() {
            ( $obj ).removeClass( "onclic" );
            ( $obj ).addClass( "invalidate", 1000);
            callback($obj,$b);
        }, 1000);  
        }
    
        function validate($obj,b) {
        setTimeout(function() {
            ( $obj ).removeClass( "onclic" );
            ( $obj ).addClass( "validate", 1000);
            callback($obj,b);
        }, 1000);  
        }
    
        function callback($obj, $booll) {
        setTimeout(function() {
            ( $obj ).removeClass( "validate" );
            ( $obj ).removeClass( "invalidate" );
            console.log($booll)
            if ($booll)
                ($obj).parents('tr').detach();
        }, 1500 );
        }

        const $rows = $tableID.find('tr:not(:hidden)');
        const headers = [];
        var $row = $(this).closest("tr"),       // Finds the closest row <tr> 
        $tds = $row.find("td");             // Finds all children <td> elements
        const data = {};

        //First part is to get the headers, shouldnt change but incase they ever do
        $($rows.shift()).find('th:not(:empty)').each(function () {
            if($(this).text().toLowerCase() != "remove" && $(this).text().toLowerCase() != "save" ){
                //console.log(headers)
                headers.push($(this).text().toLowerCase());
            }
        });
        //Now we have the table headers!
        $.each($tds, function(i) {         // Visits every single <td> element
            if ($(this).hasClass("pt-3-half")){  // Check to make sure its the text fields
                //console.log($(this).text());   // Prints out the text within the <td>
                data[headers[i]] = $(this).text()
            }
        });

        //console.log(data)
        $.ajax({
            url: '/profiles/save',
            type: 'delete',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(){
                console.log( 'Worked' );
                validate(button,true);
                md.showNotification('top','center','success','Deleted User '+ data['username'] + ' Successfully!')
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
                invalidate(button,false);
                md.showNotification('top','center','danger','Error! Could Not Delete')
            }
        });
    
    });


  </script>

{% endblock javascripts %}
