{% extends "base-site.html" %}

{% block title %} Profile Page {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

<div class="row">

  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0"> Users Table</h4>
        <p class="card-category"> Please Submit after each row change!</p>
      </div>
      <div class="card-body">
        <div id="tableT" class="table-editable table-responsive">
          <span class="table-add-new float-right mb-3 mr-2"><a href="#!" class="btn btn-success btn-rounded" role="button"><i>New User</i></a></span>
          <table class="table table-hover">
            <thead>
              <th>id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Name</th>
              <th>Role</th>
              <th>Save</th>
              <th>Remove</th>
            </thead>
            <tbody>

              {% for users in test %}

                <tr>
                <td class="pt-3-half" style="color: white;" contenteditable="false"><b>{{users.id}}</b></td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">{{users.username}}</td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">{{users.email}}</td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">N/A</td>
                <td class="pt-3-half" style="color: white;" contenteditable="true">{{users.role}}</td>
                <td>
                    <span class="button-save-test">
                        <button class="button-save"></button>
                    </span>
                </td>
                <td>
                    <span>
                    <button class="button-remove"></button>
                    </span>
                </td>
                </tr>

              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE Test -->
{% block javascripts %}{% endblock javascripts %}
