
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="/" style="font-size: 30px; color:whitesmoke; text-align: center;"><b>The Opulent Group</b></a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end">
                
                <!-- <form class="navbar-form">
                  <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button type="submit" class="btn btn-default btn-round btn-just-icon">
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </form> -->
               
                 <ul class="navbar-nav">
                   <!--
                  <li class="nav-item">
                    <a class="nav-link" href="/index">
                      <i class="material-icons">dashboard</i>
                      <p class="d-lg-none d-md-block">
                        Stats
                      </p>
                    </a>
                  </li> -->
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">notifications</i>
                      <span class="notification">{{ g['notifications']|length }}</span>
                      <p class="d-lg-none d-md-block">
                        Notifications
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      {% if g['notifications']|length == 0 %}
                          <a class="dropdown-item" href="javascript:void(0)">No Notifications</a>
                      {%else%}
                        {% for notification in g['notifications'] %}
                          {% if current_user.role == 'admin'%}
                            {% if notification == 'deposit'%}
                              <a class="dropdown-item" href="/partners/deposit/requests">{{g['notifications'][notification]}}</a>
                            {% elif notification == 'withdrawls' %}
                              <a class="dropdown-item" href="/partners/withdrawl/requests">{{g['notifications'][notification]}}</a>
                            {% else %}
                              <a class="dropdown-item" href="/update/gains_losses">{{g['notifications'][notification]}}</a>
                            {%endif%}
                          {%else%}
                            {% if notification == 'deposit'%}
                              <a class="dropdown-item" href="/deposit">{{g['notifications'][notification]}}</a>
                            {% elif notification == 'withdrawls' %}
                              <a class="dropdown-item" href="/withdraw">{{g['notifications'][notification]}}</a>
                            {% else %}
                              <a class="dropdown-item" href="/update/gains_losses">{{g['notifications'][notification]}}</a>
                            {%endif%}
                          {%endif%}   
                        {% endfor %}
                        <a class="dropdown-item" href="/clear/notifications"><i class="material-icons">clear</i> Clear Notifications</a>
                      {%endif%}
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">account_circle</i>
                      <p class="d-lg-none d-md-block">
                        My Profile
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <div class="dropdown-header text-center">
                        <p>
                          Name: {{ current_user.name }}
                        </p>
                        <p>
                          Username: {{ current_user.username }}
                        </p>
                      </div>

                      <a href="/profile/{{current_user.username}}" class="dropdown-item">My Profile<i class="dropdown-item-icon ti-dashboard"></i></a>
                      <!-- <a href="#" class="dropdown-item">Messages <span class="badge badge-pill badge-danger">2</span><i class="dropdown-item-icon ti-comment-alt"></i></a> -->
                      <a href="{{ url_for('base_blueprint.logout') }}" class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a> 
                    </div>
                  </li>
                 
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/profile">
                      <i class="material-icons">person</i>
                      <p class="d-lg-none d-md-block">
                        Account
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/radnom">
                      <i class="material-icons">info</i>
                      <p class="d-lg-none d-md-block">
                        Logout
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">
                      <i class="material-icons">eject</i>
                      <p class="d-lg-none d-md-block">
                        Logout
                      </p>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
        </nav>
    
    